<%- include('../../layout/header') %>
<%- include('../../layout/sidebar') %>

<main id="main" class="main">
   <% if (permissions.includes(39)) { %> 

    <div class="text-left m-2">
        <a href="/add_Amenities" class="btn btn-primary login-btn"><i class="bi bi-plus-lg"></i> Add Amenities</a>
    </div>

    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card top-selling overflow-auto">
                   

                    <div class="card-body pb-0">
                        <h5 class="card-title">All Amenities</h5>
                        <div class="mb-3">
                            <button type="button" class="btn btn-danger mb-2 d-none" id="deleteSelectedBtn"><i class="bi bi-trash"></i> Delete Selected</button>
                        </div>
                        <table id="AmenitiesTable" class="table table-hover">
                            <thead>
                                <tr>
                            
                                    <th scope="col">Sr No.</th>
                                    <th scope="col">Amenities Name</th>
                                    <!--  <th scope="col">Status</th>-->
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let i = 1; %>
                                <% if (Amenities && Amenities.length > 0) { %>
                                    <% Amenities.forEach(Amenitie => { %>
                                        <tr>
                                            <!-- <td>
                                                <div class="form-check">
                                                    <input class="form-check-input city-checkbox" type="checkbox" data-id="<%= Amenitie.id %>">
                                                    <label class="form-check-label" for="propertyCheck<%= Amenitie.id %>"></label>
                                                </div>
                                            </td> -->
                                            <td><%= i++ %></td>
                                            <td><%= Amenitie.name %></td>
                                           <!--   <td style="color: <%= Amenitie.status === 1 ? 'green' : 'red' %>;">
                                                 <%= Amenitie.status === 1 ? 'Active' : 'Deactive' %>
                                            </td>-->
                                            
                                            <td>
                                                <a href="/editAmenities/<%= Amenitie.id %>" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></a>
                                                <button class="btn btn-sm btn-danger Amenities" data-id="<%= Amenitie.id %>"><i class="bi bi-trash"></i></button>
                                            </td>
                                        </tr>
                                    <% }) %>
                                    
                                <% } else { %>
                                    <tr>
                                        <td colspan="5" style="text-align: center;" class="mt-4">No Amenities found.</td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <% } else { %>
                  <img src="https://builder.propal.in/Images/access_denied.png" alt="No Permission" style="max-width: 100%; height: auto;" />
                  <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('../../layout/footer') %>


<script>
document.addEventListener('DOMContentLoaded', () => {
    const AmenitiesTable = $('#AmenitiesTable').DataTable({
        responsive: true
    });

    AmenitiesTable.on('init.dt', function () {
        $('.dataTables_filter').addClass('d-none');
        $('.dataTables_length').addClass('d-none');
    });

    $('#AmenitiesTable').on('click', '.Amenities', async function () {
        const id = $(this).data('id');
        try {
            const response = await fetch(`/delete_Amenities/${id}`, {
                method: 'DELETE'
            });
            const data = await response.json();
            if (response.ok) {
                await Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Amenities deleted successfully',
                    timer: 1500,
                    timerProgressBar: true,
                    didClose: () => {
                        setTimeout(() => {
                            window.location.reload();
                        }, 500);
                    }
                });
            } else {
                await Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Failed to Delete Amenities.'
                });
            }
        } catch (error) {
            console.error('Error:', error);
            await Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Failed to Delete Amenities.'
            });
        }
    });



 
});


</script>
