<%- include('../../layout/header') %>
<%- include('../../layout/sidebar') %>

<main id="main" class="main">
   <% if (permissions.includes(39)) { %> 

    <div class="text-left m-2">
        <a href="/add_emi_expectation" class="btn btn-primary login-btn"><i class="bi bi-plus-lg"></i> Add EMI Expectation</a>
    </div>

    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card top-selling overflow-auto">
                    <div class="card-body pb-0">
                        <h5 class="card-title">All EMI Expectations</h5>
                        <div class="mb-3">
                            <button type="button" class="btn btn-danger mb-2 d-none" id="deleteSelectedBtn"><i class="bi bi-trash"></i> Delete Selected</button>
                        </div>
                        <table id="EMIExpectationsTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Sr No.</th>
                                    <th scope="col">EMI Expectation Name</th>
                                    <!-- <th scope="col">Status</th> -->
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let i = 1; %>
                                <% if (EMIExpectations && EMIExpectations.length > 0) { %>
                                    <% EMIExpectations.forEach(emiExpectation => { %>
                                        <tr>
                                            <td><%= i++ %></td>
                                            <td><%= emiExpectation.name %></td>
                                             <!-- <td style="color: <%= emiExpectation.status === 1 ? 'green' : 'red' %>;">
                                                <%= emiExpectation.status === 1 ? 'Active' : 'Inactive' %>
                                            </td>-->
                                            <td>
                                                <a href="/edit_emi_expectation/<%= emiExpectation.id %>" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i></a>
                                                <button class="btn btn-sm btn-danger deleteEMIExpectation" data-id="<%= emiExpectation.id %>"><i class="bi bi-trash"></i></button>
                                            </td>
                                        </tr>
                                    <% }) %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="4" style="text-align: center;" class="mt-4">No EMI Expectations found.</td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <% } else { %>
                  <img src="https://builder.propal.in/Images/access_denied.png" alt="No Permission" style="max-width: 100%; height: auto;" />
                  <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('../../layout/footer') %>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const EMIExpectationsTable = $('#EMIExpectationsTable').DataTable({
        responsive: true
    });

    EMIExpectationsTable.on('init.dt', function () {
        $('.dataTables_filter').addClass('d-none');
        $('.dataTables_length').addClass('d-none');
    });

    $('#EMIExpectationsTable').on('click', '.deleteEMIExpectation', async function () {
        const id = $(this).data('id');
        try {
            const response = await fetch(`/delete_emi_expectation/${id}`, {
                method: 'DELETE'
            });
            const data = await response.json();
            if (response.ok) {
                await Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'EMI Expectation deleted successfully',
                    timer: 1500,
                    timerProgressBar: true,
                    didClose: () => {
                        setTimeout(() => {
                            window.location.reload();
                        }, 500);
                    }
                });
            } else {
                await Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Failed to delete EMI Expectation.'
                });
            }
        } catch (error) {
            console.error('Error:', error);
            await Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Failed to delete EMI Expectation.'
            });
        }
    });
});
</script>
